<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" href="/login.css" type="text/css" >
</head>
<body>
<div class="main">
<div class="login">
    <h2>Login Form</h2>
    <form  action="/validate" method="post">
    
    
    <label>UserEmail</label>
    <br>  
    
    
   <input type="email" name="email" id="name" placeholder="Enter User Email">
    <br><br>
  <label>UserPassword</label>
   <br>
  <input type="password" name="password" id="name" placeholder="enter User Password">
  <br><br>

  <input type="submit" value="LOGIN" name="login" id="login">


</form>
</div></div>

</body>
</html>