<!DOCTYPE html>
<html>
<head>
<title>Index Page</title>
<link rel="stylesheet" href="/registration.css" type="text/css" >
</head>
<body>
<div class="main">
<div class="register">
	
		<h2>Registration From</h2>
		<text-align=center>
		<form  action="/register" method="post">

		<label>UserName:</label>
		<br>
		<input type="text" name="username" id="name"placeholder="Enter User Name">
		<br>
		<br>
		
		 <text-align="center">
		<label>Email:</label>
		<br>
		<input type="email" name="email" id="name"placeholder="Enter Email">
		<br><br>
		
		<label>Password:</label>
		<br> 
		<input type="text" name="password" id="name"placeholder="Enter password">
		<br><br>
		
		<label>Gender:</label> 
		<br>
		&nbsp;&nbsp;&nbsp;
		<input type="radio" value="male" name="gender" />
		<label>Male</label> 
		<input type="radio" value="female" name="gender" /> 
		<label>Female</label> 
		<input type="radio" value="other" name="gender" /> 
		<label>Others</label> 
		<br><br> 
		
		<label>Role:</label>
		<br>
		&nbsp;&nbsp;&nbsp;
		<input type="radio" value="admin" name="role" /> 
		<label>Admin</label> 
		<input type="radio" value="customer" name="role" /> 
		<label>Customer</label> 
		<br><br> 
		
		<label>Address:</label>
		<br>
		<textarea name="address"></textarea>
		<br><br>
		
		 <input type="submit" value="submit" name="submit" id="submit">

	</form>
	</div>
	</div>
</body>
</html>