<!DOCTYPE html>
<html>
<head>

<title>ADD SONG</title>
</head>
<body>
<link rel="stylesheet" href="/song.css" type="text/css" >
<form action="/addsongs" method="post">
<label>song name</label>
<input type="text" name="name"/>
<br/></br>

<label>song artist</label>
<input type="text" name="artist"/>
<br/></br>

<label>song generic</label>
<input type="text" name="generic"/>
<br/></br>

<label>song link</label>
<input type="text" name="link"/>
<br/></br>

<input type="submit" value="ADD SONG">

</form>
</body>
</html>